<div class="topPage">
  <div class="container">
    <div class="topPage_contents">
      <h1 class="topPage_contents_title1">近畿限定!
        <p class="topPage_contents_title2">恋活・婚活</p>
        <p class="topPage_contents_title3">マッチングアプリ</p>
      </h1>
    </div>
    <div class="login_contents">
      <%= link_to "無料で新規登録", "#", class: "sign_up_btn" %>
      <%= link_to "メールアドレスでログイン", "#", class: "login_btn" %>
    </div>
  </div>
</div>