.topPage {
  flex-direction: column;
  display: flex;
}
.topPage_contents {
  height: 90vh;
  display: flex;
  background-image: image-url('matching-title.png');
  background-size: 100vw 100vh;
  flex-direction: column;
  padding: 10vh 15vw;
}
// 近畿限定!部
.topPage_contents_title1 {
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
// 恋活・婚活部
.topPage_contents_title2 {
  font-size: 33px;
}
// マッチングアプリ部
.topPage_contents_title3 {
  font-size: 23px;
}

/* ログイン・新規登録ボタン */
.login_contents {
  text-align: center;
  padding-top: 250px;
}

/* 新規登録ボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
.sign_btn,
a.sign_btn,
button.sign_btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.sign_btn-gradient {
  font-size: 2rem;
  color: black;
  border-radius: 25px;
  background-image: -webkit-gradient (
    linear,
    left top,
    right top,
    from(#fa709a),
    to(#fee140)
  );
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
a.sign_btn-gradient span {
  background-image: -webkit-linear-gradient (
    315deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-image: linear-gradient (
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.sign_btn-gradient:hover {
  background: -webkit-gradient (
    linear,
    left top,
    right top,
    from(#fee140),
    to(#fee140)
  );
  background: -webkit-linear-gradient(left, #fee140 0%, #fee140 100%);
  background: linear-gradient(to right, #fee140 0%, #fee140 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
/* 新規登録ボタン */
.caution {
  font-size: 10px;
}

/* ログインボタン */
.login_btn,
a.login_btn,
button.login_btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.login_btn-gradient {
  font-size: 2rem;
  color: black;
  border-radius: 25px;
  background-image: -webkit-gradient (
    linear,
    left top,
    right top,
    from(#fa709a),
    to(#fee140)
  );
  background-image: -webkit-linear-gradient(left, #4481eb 0%, #04befe 100%);
  background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
}
a.login_btn-gradient span {
  background-image: -webkit-linear-gradient (
    315deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-image: linear-gradient (
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.login_btn-gradient:hover {
  background: -webkit-gradient (
    linear,
    left top,
    right top,
    from(#fee140),
    to(#fee140)
  );
  background: -webkit-linear-gradient(left, #04befe 0%, #04befe 100%);
  background: linear-gradient(to right, #04befe 0%, #04befe 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
/* ログインボタン */

.supports {
  text-align: center;
}

.support {
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.sutep {
  display: flex;
  flex-wrap: wrap;
}
.support1 {
  width: 33.33%;
  font-size: 25px;
}
.image1 {
  height: 40vh;
  background-color: #fff800;
}
.support1-1 {
  font-size: 25px;
}

.support1-2 {
  font-size: 15px;
  
}
.image2 {
  height: 40vh;
  background-color: aqua;
}
.support2 {
  width: 33.33%;
  font-size: 25px;

}
.support2-1 {
  font-size: 25px;
}

.support2-2 {
  font-size: 15px;
  
}
.image3 {
  height: 40vh;
  background-color: #ff1361;
}
.support3 {
  width: 33.33%;
  font-size: 25px;
}
.support3-1 {
  font-size: 25px;
}

.support3-2 {
  font-size: 15px;
  
}